@{
    ViewBag.Title = "What is it all about then?";
	ViewBag.Message = "Well, it's some kind of learning playground";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
	<div>
		Where I've looked into
		<ul>
			<li>WebSockets/XSocket</li>
			<li>knockout.js</li>
			<li>bootstrap 3</li>
		</ul>

	</div>
</article>
