@{
	ViewBag.Title = "Contact";
}

@section scripts {
	<script type="text/javascript">
		var viewModel = null;
		var webSocket = null;

		$(function () {
			viewModel = new NotificationViewModel(10);

			ko.applyBindings(viewModel);

			webSocket = new XSockets.WebSocket('ws://127.0.0.1:4502/Notification');

			webSocket.on(XSockets.Events.open, function () {
				// When a notification arrives, add it to the viewModel
				webSocket.on('notify', function (notification) {
					viewModel.Add(notification);
				});

				// Listen for all types (published at bottom of open event)
				webSocket.on('allTypes', function (types) {
					viewModel.AddAllTypes(types);
				});
			});

			webSocket.bind(XSockets.Events.onError, function (error) {
				console.log("XSockets error: ", error);
			});

			webSocket.bind(XSockets.Events.close, function () {
				// This event will be fired when server disconnects / closes the current connection
				console.log("Connection closed.");
			});
		});
		
		var toggleListening = function () {
			if (viewModel.Listening()) {
				viewModel.Listening(false);
			}
			else {
				viewModel.Listening(true);
			}

			//Tell XSockets about the change
			//Note that this will update the actual property on the controller without any method decalred being called
			webSocket.publish('set_Listening', { value: viewModel.Listening() });
		};

		toggleSelection = function (item) {
			var selected = item.Selected();
			var value = item.Value();

			if (selected === true)
				console.log("Selecting '" + value + "'");
			else
				console.log("Deselecting '" + value + "'");

			ko.utils.arrayMap(viewModel.SelectedTypes(), function (type) {
				if (type.Value() === value)
					type.Selected(item.Selected());
			});
			
			var selectedTypes = ko.utils.arrayMap(ko.utils.arrayFilter(viewModel.SelectedTypes(), function (type) {
				return type.Selected() === true;
			}), function (type) {
				return type.Value();
			});

			webSocket.publish('set_SelectedTypes', selectedTypes);
			return true;
		};
	</script>
}

<div class="col-md-4">
	<div class="dropdown pull-right">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="label" data-bind="css: LabelClass">
				<span data-bind="text: Notifications().length"></span> new notifications
			</span>
		</a>

		<ul class="notifications dropdown-menu" data-bind="foreach: Notifications">
			<li>
				<div class="label" data-bind="css: LabelClass">
					<a class="summary" href="#">
						<span data-bind="text: Title"></span>
						<span data-bind="text: Message"></span>
						<span data-bind="date: UtcTimestamp"></span>
					</a>
					
					<input type="button" class="ok" value="Mark as read" />
				</div>
			</li>
		</ul>
	</div>
</div>

<div>
	<button data-bind="click: function () { toggleListening(); }, text: ToggleText">Toggle</button>
	<ul class="selected-types" data-bind="foreach: SelectedTypes">
		<li>
			<input name="selectedTypes" type="checkbox" 
				data-bind="value: Value, checked: Selected, attr: { 'id': 'type_' + Value() }, click: toggleSelection" />
			<label data-bind="text: Value, attr: { 'for': 'type_' + Value() }"></label>
		</li>
	</ul>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Message</th>
			<th>UtcTimestamp</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: Notifications">
		<tr>
			<td data-bind="text: Type"></td>
			<td data-bind="text: Title"></td>
			<td data-bind="text: Message"></td>
			<td data-bind="date: UtcTimestamp"></td>
		</tr>
	</tbody>
</table>
