@{
    ViewBag.Title = "Contact";
}

@section scripts {
	<script type="text/javascript">
		var viewModel = null;
		var webSocket = null;

		$(function () {
			viewModel = new NotificationViewModel(10);

			ko.applyBindings(viewModel);

			webSocket = new XSockets.WebSocket('ws://127.0.0.1:4502/Notification');

			webSocket.on(XSockets.Events.open, function () {
				// When a notification arrives, add it to the viewModel
				webSocket.on('notify', function (notification) {
					viewModel.Add(notification);
				});
			});
		});
	</script>
}

<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Message</th>
			<th>UtcTimestamp</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: Notifications">
		<tr>
			<td data-bind="text: Type"></td>
			<td data-bind="text: Title"></td>
			<td data-bind="text: Message"></td>
			<td data-bind="date: UtcTimestamp"></td>
		</tr>
	</tbody>
</table>
