@{
    ViewBag.Title = "Home Page";
}

@section introduction {
	<h1>Notifications example</h1>
	<p>This example is a quick exercise to illustrate how notifications might work.
	It uses bootstrap to enable mobile first, responsive design.</p>
}

@section featuredHeading {
	<h2 class="panel-title">XSockets.NET</h2>
}
@section featuredBody {
	<p>
		To learn more about XSockets.NET visit
		<a href="http://xsockets.net/" title="XSockets Website">http://xsockets.net/</a>.
	</p>
}

<div class="col-md-6">
	<h2>TODO:</h2>
	<ol class="round">
		<li>
			<h3>Add random notifications</h3>
			Sending random notifications and showing them in the notify-container
			<a href="@Url.Content("~/Areas/StockTicker/StockTicker.html")">Learn more…</a>
		</li>

		<li>
			<h3>Remove notifications</h3>
			Remove notifications from the notify-container
		</li>

		<li>
			<h3>Store notifications</h3>
			Persist notifications using Raven DB
		</li>

		<li>
			<h3>Publish notifications</h3>
			Publish notifications for other applications
		</li>
	</ol>
</div>

<div class="col-md-6">

	<h2>Done:</h2>
	<ol>
		<li>
			<h3>Create a .net mvc web</h3>
		</li>

		<li>
			<h3>Add bootstrap</h3>
			And some theme...
			<a href="http://getbootstrap.com">Learn more…</a>
		</li>
	</ol>
</div>
