@{
	ViewBag.Title = "KnockoutNotifications";
	ViewBag.ContainerClass = "notifications";
}

@section scripts {
	// @Scripts.Render("~/scripts/knockout/notifications")
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
}

<div class="col-md-3">
	<div class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="label" data-bind="css: LabelClass">
				<span data-bind="text: Notifications().length"></span> new notifications
			</span>
		</a>

		<ul class="dropdown-menu" data-bind="foreach: Notifications">
			<li>
				<div class="label" data-bind="css: LabelClass">
					<a class="summary" href="#">
						<span data-bind="text: Title"></span>
						<span data-bind="text: Message"></span>
						<span data-bind="date: UtcTimestamp"></span>
					</a>
					
					<input type="button" class="ok" value="Mark as read" data-bind="click: markAsRead, clickBubble: false" />
				</div>
			</li>
		</ul>
	</div>

	<button data-bind="click: function () { toggleListening(); }, text: ToggleText">Toggle</button>
</div>

<div class="selected-types col-md-9">
	<ul data-bind="foreach: SelectedTypes">
		<li>
			<input name="selectedTypes" type="checkbox" 
				    data-bind="value: Value, checked: Selected, attr: { 'id': 'type_' + Value() }, click: toggleSelection" />
			<label data-bind="text: Value, attr: { 'for': 'type_' + Value() }"></label>
		</li>
	</ul>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Message</th>
			<th>UtcTimestamp</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: Notifications">
		<tr>
			<td data-bind="text: Type"></td>
			<td data-bind="text: Title"></td>
			<td data-bind="text: Message"></td>
			<td data-bind="date: UtcTimestamp"></td>
		</tr>
	</tbody>
</table>
