.panel {
	border: 1px solid #ccc;
}

.container h1,
.container h2,
.container h3,
.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel p,
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron p {
	margin: 0;
}

.container .title,
.container article {
	margin-bottom: 0.5em;
}

.notifications .selected-types ul,
.notifications .selected-types li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.notifications .selected-types button {
	margin-right: 1em;
}

.notifications .dropdown {
	max-width: 12em;
	display: inline-block;
}

.notifications .dropdown-menu {
	padding: 0;
}

.notifications .label {
	display: block;
	margin: 0.35em;
	padding: 0.35em;
}

.notifications .label .summary {
	color: #fff;
	line-height: normal;
	vertical-align: bottom;
	margin-right: 1em;
}

.notifications .label .ok {
	display: inline-block;
	border: none;
	background: url("images/ok-icon.png") no-repeat scroll center center transparent;
	background-size: contain;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

.notifications .table {
	clear: both;
}